h1{
    padding-left: 10px;
}

.user-div{
    float: right;
    padding-right: 10px;
}

.dropdown .dropdown-menu.dropdown-menu-right{
    min-width: 7rem;
}

.dropdown-menu.dropdown-menu-right.show .dropdown-item{
    min-width: 100px;
}