body {
    background-color: #f6f8fa;
}

p {
    margin-top: 1rem;
}

#header-div p {
    font-weight: bold;
}

#header-div ul {
    list-style-type: none;
}

.jumbotron {
    text-align: center;
}

.code {
    background-color: #f6f8fa;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}

.card {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2%;
    height: 90%;
}