body {
    background-color: #f6f8fa;
}

p {
    margin-top: 1rem;
}

#title {
    font-size: 400%;
    color: white;
}

#header-div {
    text-align: center;
}

#header-div p:not(.not-bold) {
    font-weight: bold;
}

#header-div ul {
    list-style-type: none;
}

#footer {
    height: 4rem;
}

#footer-row {
    text-align: center;
    color: #909497;
    font-family: consolas;
}

#github-link {
    text-decoration: underline;
    color: inherit;
}

.jumbotron {
    text-align: center;
    background-color: black;
    border-radius: 0%;
    box-shadow: 5px 5px 10px #d3d6d8;
}

.code {
    background-color: #f6f8fa;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}

.card {
    background-color: white;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2%;
    height: 90%;
    box-shadow: 5px 5px 10px #d3d6d8;
}